/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
/* navbar styling */
nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.7s ease;
    font-family: 'Ubuntu', sans-serif;
}
nav .navbar{
    display: flex;
    width: 90%;
    margin: auto; 
    justify-content: space-between;
    align-items: center;
}
nav .navbar .logo a{
    font-weight: 500;
    font-size: 35px;
    color: #4070f4;
}
nav.sticky{
    background: #4070f4;
    padding: 13px 0;
}
nav.sticky .navbar .logo a{
    color: #fff;
}
.navbar .menu{
    display: flex;
    position: relative;
}
.navbar .menu li{
    list-style: none;
    margin: 0 8px;
}
.navbar .menu a{
    font-size: 18px;
    font-weight: 500;
    color: #0E2431;
    padding: 6px 0;
    transition: all 0.4s ease;
  }
  .navbar .menu a:hover{
    color: #4070f4;
    transition: all 0.4s ease;
  }
  nav.sticky .menu a{
    color: #fff;
    transition: all 0.4s ease;
  }
  nav.sticky .menu a:hover{
    color: #0E2431;
  }
  .navbar .media-icons a{
    color: #4070f4;
    font-size: 18px;
    margin: 0 6px;
  }
  nav.sticky .media-icons a{
    color: #fff;
  }
  nav.sticky .menu-btn{
    color: #fff;
  }
  /* Side nav */
  nav .navbar .cancel-btn, nav .menu-btn{
    color: #fff;
    position: absolute;
    top: 20px; 
    right: 30px; 
    font-size: 23px; 
    display: none;
    cursor: pointer;
  }
  nav .menu-btn{
    color: #4070f4;
  }
  
/* Home section */
section {
    padding-top: 40px;
}
.home{
    height: 100vh; /* This shows this section on full screen*/
    width: 100%;
    background: url("images/background3.png") no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
  }
  .home .home-content{
    height: 100%;
    width: 90%;
    margin: auto; 
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .home .home-content .text{
    font-family: 'Ubuntu', sans-serif;
  }
  .home .home-content .text1{
    font-size: 25px; 
  }
  .home .home-content .text2{
    font-size: 75px;
    font-weight: 700; 
    color: #0E2431;
  }
  .home .home-content .text3{
    font-size: 40px;
    color:  #4070f4;
  }
  section .btn{
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
  }
  section .btn:hover{
    background: #fff;
    color: #4070f4;
    border: 2px solid #4070f4;
    transition: all 0.5s ease;
  }
  section .button{
    margin: 14px 0;
  }
  
/* About me section */

section .content{
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}

section .title{
    display: flex; 
    justify-content: center; /* horizontaly aligns when using flex*/
    margin-bottom: 40px; 
}
section .title span {
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative; /* positioning required for :before and :after*/
    padding-bottom: 8px;
}

section .title span::before {
    content: '';
    background: #4070f4;
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: 0;
}
section .title span::after {
    content: '';
    background: #4070f4;
    position: absolute;
    height: 3px;
    width: 80%;
    bottom: -10px;
    left: 50%; /* why add this if youve added transform?*/
    transform: translateX(-50%); /* what does this do?*/
    
}

.about .about-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-detail .right p {
    text-align: justify;
    color: #0E2431;
}

.about .left{
    width: 45%;
}
.about .right{
    width: 55%;
}
section .topic {
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about .left img{
    height: 400px;
    width: 400px;;
    object-fit: cover; /* Crops image to fit the height and width rather than stretch or distort the image ratio*/
    border-radius: 12px;
    object-position: 0px -132px;
}


/* Skills section */

.skills {
    background: #F0F8FF;
}
.skills .content{
    padding: 40px 0;
}
.skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills .skills-details .text{
    width: 50%;
}
.skills-details p {
    color: #0E2431;
    text-align: justify;
}
.skills .skills-details .boxes{
    display: flex;
    width: 45%;
    flex-wrap: wrap;    
    justify-content: space-between;
}
.skills .skills-details .boxes .box{
   width: calc(100% / 2 - 20px);
   margin: 20px 0;
   text-align: center;
}
.skills .skills-details .boxes .box i{
    font-size: 80px;
}
.skills .experience{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.skills-details .experience .num {
    color: #0E2431;
    font-size: 80px;
}
.skills-details .experience .exp {
    color: #0E2431;    
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
    margin-left: 20px;
}
.skills-details .boxes .topic {
    font-size: 20px;
    color: #4070f4;
}
.skills-details .boxes .per {
    font-size: 60px;
    color: #4070f4;
}


/* Projects section */
.projects .boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.projects .boxes .box{
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
    cursor: default;
    transition: all 0.4s ease;
}
.projects .boxes .icon{
    border-radius: 50%;
    background: #4070f4;
    height: 50px;
    width: 50px;
    color: white;
    text-align: center;
    line-height: 50px; /* This gets the icon in the center of the parent*/
    margin: 0 auto 10px auto; /* Centers the icon horizontally*/
}
.projects .boxes .icons-used{
    font-size: 40px;
    margin-top: 10px;
}
.projects .boxes .icons-used i{
    margin: 0 10px;
}
.projects .boxes .box:hover{
    background: #F0F8FF;
    transition: all 0.4s ease;
}
.projects .boxes .box:hover .icon{
    /* color: #4070f4; */
    /* background: #fff; */
}
.projects .box:hover .topic, .projects .box:hover p{
    /* color: #fff; */
}

.contact{
    background: #F0F8FF;
}
.contact .content {
    margin: 0 auto;
    padding: 30px 0;
}
/* Contact CSS */
.contact .text{
    width: 80%;
    text-align: center;
    margin: auto;
}

/* Footer */
footer{
    background: #4070f4;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
footer .text span {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}
footer .text span a {
    font-weight: 500;
    color: #FFF;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #4070f4;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
  }
  .mint-green {
    color: #3bb99b;
}
nav.sticky .mint-green {
    color: #fff;
}
/* Icon colors */
.fa-html5{
    color: #E34c26;
}
.fa-css3-alt{
    color: #264de4;
}
.fa-js-square{
    color: #f0db4f;
}
.fa-php{
    color: #474a8a;
}
.fa-database{
    color: #1ac1dd;
}
.fa-react{
    color: #61dbfb;
}
  /* Media Responsive */
  @media (max-width: 1190px){
    section .content {
        width: 90%;
    }
  }
  @media (max-width: 1000px){
    .about .about-detail {
        justify-content: center;
        flex-direction: column;
    }
    .about .about-detail .left{ /*Add display flex + width to allow it to be centered using jsutify-content */
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-detail .right {
        width: 90%;
        margin: 40px 0;
    }
    .projects .boxes .box{
        width: calc(100% / 2 - 20px);
    }
    .contact .text{
        width: 90%;
    }
  }
  @media (max-width: 750px){
    .skills .skills-details{
        flex-direction: column;
    }
    .skills .skills-details .text, .skills .skills-details .boxes{
        width: 100%;
    }
    .projects .boxes .box{
        width: 100%;
       }    
       .home{
        background: #F0F8FF;
       }
       nav .navbar .logo a{
        font-size: 25px;
       }
  }
  @media (max-width: 700px){
    nav .navbar .menu{
        position: absolute;
        top: 0;
        left: -100%; 
        height: 100vh;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        background: #0E2431;
        text-align: center;
        padding-top: 20px; 
        transition: all 0.5s ease;
    }
    nav .navbar.active .menu{
        left: 0; /* Nav items on mobile view are hidden and hamburger shown instead */
    }
    .navbar .menu li a{
        display:block; /* gives each item clarence */
        font-size: 23px;
        margin:10px 0; 
        color: #fff;
    }
    nav.sticky .navbar .menu li a:hover{
        color: #4070f4;
    }
    .navbar .media-icons{
        display: none;
    }
     /* Side nav */
    nav .navbar .cancel-btn, nav .menu-btn{
        display: block;
    }
  }
  @media (max-width: 683px){
    .home .home-content .text2{
        font-size: 55px;
      }
      .home .home-content .text3{
        font-size: 30px;
      }
      .contact .text{
        width: 100%;
    }
    .skills .experience{
        justify-content: center;
    }
  }
  @media (max-width: 501px){
    .home .home-content .text2{
        font-size: 35px;
      }
      .home .home-content .text3{
        font-size: 20px;
      }
      .skills-details .boxes .per {
        font-size: 50px;
        color: #4070f4;
    }
    .skills .skills-details .boxes .box{
        text-align: center;
     }
    footer .text span {
        font-size: 14px;
    }
  }